<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TableEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
           </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
    <userSettings>
        <TableEditor.Properties.Settings>
            <setting name="ShowAxis" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GraphPointsColour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ShowAxisLabels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowToolTips" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowPointCoords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowGraphPosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectRadius" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="ShowGraphPaneOnStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GraphRotation" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="GraphElevation" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="GraphRotationTransposed" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="ShowHoverPoint" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSamples" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GraphZoom" serializeAs="String">
                <value>2130</value>
            </setting>
            <setting name="GraphPointSize" serializeAs="String">
                <value>1.1</value>
            </setting>
        </TableEditor.Properties.Settings>
    </userSettings>
</configuration>